.cardiovascualr-disease{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
  
    padding-left: 12px;
    padding-right: 12;
}


.cardio-app{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
  
    padding-left: 12px;
    padding-right: 12;
}